.GetSentiment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  padding: 0.4rem;
  width: 80%;
  margin: 0.2rem;
}

h2 {
  margin: 1rem;
  margin-top: 2rem;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 0.8rem;
  width: 20rem;
  padding: 1rem;
  transition: box-shadow 0.25s;
  background: radial-gradient(
    circle at 47.1% 48.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}

.input-section:hover {
  color: cyan;
  box-shadow: 4px 5px 80px -20px cyan;
}

.review-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-evenly;
}

h2 {
  font-size: 3rem;
  margin-top: 0.4rem;
  margin-bottom: 0%;
  transition: color 0.25s;
}

h2:hover {
  color: cyan;
}

.score {
  margin-top: 0%;
  margin-bottom: 0.2rem;
}

textarea {
  border: solid 0.1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #292827;
  resize: none;
  padding: 0.6rem;
  margin: 0.3rem;
}
